<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="true"
  [allowResizing]="true"
  [allowSorting]="true"
  gridLines="Both"
  [locale]="locale"
  [editSettings]="chemicalEditSettings"
  [toolbar]="toolbarOptions"
  [pageSettings]='pageSettingsRecipe'
  [allowExcelExport]="true"
  [enableInfiniteScrolling]="true"
  (rowSelected)="rowSelected($event)"
  (recordClick)="recordClick($event)"
  (actionBegin)="actionBegin($event)"
  [selectionSettings]="selectionOptions"
  (toolbarClick)="toolbarClick($event)"
  (dataBound)='dataBound()'
>

  <e-columns>
    <e-column
      field="option"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      textAlign="Center"
      headerTextAlign="Center"
      width="50"
      headerTextAlign="Center"
      headerText="{{ 'OPTION' | translate}}"
    >
      <ng-template #template let-data>
        <span (click)="delete(data.id)" *ngIf="groupCode === 'ADMIN' || groupCode === 'Development Center'" class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
      </ng-template>
    </e-column>

    <e-column
      field="name"
      textAlign="Left"
      headerText="{{ 'CHEMICAL_NAME' | translate }}"
    >
    <ng-template #editTemplate let-data>
      <ejs-dropdownlist #chemicalDropdownlist [dataSource]='dataChemicalsFilter'
        [fields]='ChemicalFields' [allowFiltering]='true'
        [(ngModel)]="chemicalColor.chemicalGuid"
        >
      </ejs-dropdownlist>
    </ng-template>
    </e-column>

    <e-column field="code" textAlign="Left" headerText="{{ 'CODE_LABEL' | translate }}">
      <ng-template #editTemplate let-data>
        <input class="e-field e-input e-defaultcell" type="text" (keyup)="keyUp(data.code)" [(ngModel)]="data.code" name="Description" style="text-align:Left">
      </ng-template>
    </e-column>

    <e-column field="percentage" textAlign="Left" headerText="{{ 'PERCENTAGE_LABEL' | translate }}"></e-column>

  </e-columns>
</ejs-grid>
