<div class="col-md-12" style="box-shadow: 1px 1px 20px; padding: 0">
  <div class="card main-card">
    <div class="card-body table-responsive p-0">
      <ejs-grid
        #grid
        id="grid"
        [dataSource]="dataColorWorkPlan"
        [allowPaging]="true"
        [allowResizing]="true"
        [allowSorting]="true"
        gridLines="Both"
        [locale]="locale"
        (actionBegin)="actionBegin($event)"
        (actionComplete)="actionComplete($event)"
        [editSettings]="editSettings"
        [pageSettings]="pageSettings"
        [toolbar]="toolbarOptions"

        (recordDoubleClick)="onDoubleClick($event)"
        (toolbarClick)="toolbarClick($event)"
        (headerCellInfo)='headerCellInfo($event)'

        >

        <e-columns>
          <e-column
            field="option"
            textAlign="Center"
            headerTextAlign="Center"
            width="50"
            [allowSorting]="false"
            [allowSearching]="false"
            [allowGrouping]="false"
            [allowFiltering]="false"
            [allowEditing]="false"
            headerText="{{ 'OPTION' | translate }}"
          >
            <ng-template #template let-data>
              <span (click)="delete(data.id)" class="delete-grid">
                <i class="fa fa-trash"></i>
              </span>
              <span (click)="openModal(optionModal, data)" class="edit-grid">
                <i class="fa fa-edit"></i>
              </span>
            </ng-template>
          </e-column>

          <e-column
            field="shoeName"
            textAlign="Left"
          headerTextAlign="Center"
            headerText="{{ 'SHOES_COLOR_WP' | translate }}"
          >
          </e-column>
          <e-column field="executeDate" width="30%" textAlign="Center" headerTextAlign="Center" headerText="{{ 'EXECUTE_DATE_COLOR_WP' | translate }}">
            <ng-template #template let-data>
              {{data.executeDate | date: 'MM/dd/yyyy'}}
            </ng-template>
          </e-column>

          <!-- <e-column
            field="comment"
            [allowSearching]="false"
            [allowSorting]="false"
            textAlign="Left"
          headerTextAlign="Center"
            headerText="{{ 'CODE_PERMISSION_COMMENT' | translate }}"
          >
          </e-column> -->
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>

<ng-template #optionModal let-modal>
    <div class="modal-header my-modal">
      <h4 [ngbTooltip]="title" class="modal-title">
        <i class="fas fa-plus"></i> {{ title | translate }}
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">

        <div class="col-md-6 col-12">
          <div class="form-group">
            <label ngbTooltip="SHOES_COLOR_WP" for="codeType">{{ "SHOES_COLOR_WP" | translate }}</label>

            <ejs-dropdownlist
              #dropdownlist
              [dataSource]='dataShoe'
              [fields]='shoeFields'
              [allowFiltering]='true'
              [(ngModel)]="colorWPModel.shoeGuid"
              placeholder = 'Select a shoes'
              >
            </ejs-dropdownlist>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="form-group">
            <label ngbTooltip="EXECUTE_DATE_COLOR_WP" for="codeType">{{ "EXECUTE_DATE_COLOR_WP" | translate }}</label>

            <ejs-datepicker locale='en-US'
          format="MM/dd/yyyy" [(ngModel)]="colorWPModel.executeDate" ></ejs-datepicker>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="mr-auto" *ngIf="colorWPModel?.id > 0">
        <p>
          <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
          <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
        </p>
        <p>
          <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
          <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
        </p>
      </div>
      <span *ngIf="!(colorWPModel.id > 0)" class="my-note mr-auto">
        {{ 'Note: (*) is a required field' | translate }}
      </span>

      <button
        type="button"
        class="btn btn-light"
        ngbTooltip="CLOSE"
        (click)="modal.close('Close click')"
      >
        {{ "CLOSE" | translate }}
      </button>
      <button

        (click)="save()"
        ngbTooltip="SAVE"
        class="btn btn-primary"
      >
        {{ "SAVE" | translate }}
      </button>
    </div>
</ng-template>
