<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="true"
  [allowResizing]="true"
  [allowSorting]="true"
  gridLines="Both"
  [locale]="locale"
  [editSettings]="chemicalEditSettings"
  [toolbar]="toolbarOptions"
  [pageSettings]='pageSettingsRecipe'
  [allowExcelExport]="true"
  (rowSelected)="rowSelected($event)"
  (recordClick)="recordClick($event)"
  (actionBegin)="actionBegin($event)"
  [selectionSettings]="selectionOptions"
  (toolbarClick)="toolbarClick($event)"
  (dataBound)='dataBound()'
>

  <e-columns>

    <e-column
      field="option"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      textAlign="Center"
      headerTextAlign="Center"
      width="50"
      headerTextAlign="Center"
      headerText="{{ 'OPTION' | translate}}"
    >
    
      <ng-template #template let-data>
        <span (click)="delete(data.id)" *ngIf="groupCode === 'ADMIN'" class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
      </ng-template>
    </e-column>

    <e-column  textAlign="Left"  headerText="Part">
      <ng-template #template let-data>
        {{data.part}}
      </ng-template>
      <ng-template #editTemplate let-data>
        <ejs-dropdownlist #partDropdownlist [dataSource]='dataPart' 
          [fields]='ChemicalFields' [allowFiltering]='true'
          [(ngModel)]="schedule.partGuid"
          id='partDropdownlist'
          >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>

    <e-column   textAlign="Left" headerText="{{ 'TREATMENT_NAME' | translate }}" >
      <ng-template #template let-data>
        {{data.treatment}}
      </ng-template>
      <ng-template #editTemplate let-data>
        <ejs-dropdownlist #treatmentDropdownlist [dataSource]='dataTreatment' 
          [fields]='ChemicalFields' [allowFiltering]='true'
          [(ngModel)]="schedule.treatmentGuid"
          >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>

    <e-column  textAlign="Left" headerText="{{ 'PROCESS_NAME' | translate }}">
      <ng-template #template let-data>
        {{data.process}}
      </ng-template>
      <ng-template #editTemplate let-data>
        <ejs-dropdownlist #processDropdownlist [dataSource]='dataProcess' 
          [fields]='ChemicalFields' [allowFiltering]='true'
          [(ngModel)]="schedule.processGuid"
          >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>

    <e-column  textAlign="Left" headerText="TreatmentWay">
      <ng-template let-data #template>
        {{data.treatmentWay}}
      </ng-template>
      <ng-template #headerTemplate let-data>
        {{ 'TREATMENT_WAY_NAME' | translate }}
      </ng-template>
      
      <ng-template #editTemplate let-data>
        <ejs-dropdownlist #treatmentWayDropdownlist [dataSource]='dataTreatmentWay' 
          [fields]='ChemicalFields' [allowFiltering]='true'
          [(ngModel)]="schedule.treatmentWayGuid"
          >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>

    <e-column textAlign="Left" headerText="Color">
      <ng-template let-data #template>
        {{data.color}}
      </ng-template>
      <ng-template #headerTemplate let-data>
        {{ 'COLOR_NAME' | translate }}
      </ng-template>
      <ng-template #editTemplate let-data>
        <ejs-dropdownlist #colorDropdownlist [dataSource]='dataColor' 
          [fields]='ChemicalFields' [allowFiltering]='true'
          [(ngModel)]="schedule.colorGuid"
          >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>

    <!-- <e-column
      field="unit"
      textAlign="Left"
      headerText="{{ 'UNIT_LABEL' | translate }}"
    >
    </e-column> -->
    
  </e-columns>
</ejs-grid>